:root {
    --tw-color-lightgray: #f2f2f2;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
img {
    @apply max-w-full;
}
/* コンポーネント */
.button-primary {
    @applu flex items-center justify-center rounded-md border border-transparent bg-gradation min-w-32 max-w-52 px-4 py-2 max-h-10 text-sm font-bold uppercase tracking-widest text-white transition duration-150 ease-in-out hover:bg-gradation-blue focus:bg-gradation focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 active:bg-gradation;
}

.button-secondary {
    @applu inline-flex items-center justify-center rounded-md min-w-32 max-w-52 max-h-10 border border-solid border-primary bg-white px-4 py-2 text-sm font-bold uppercase tracking-widest text-primary shadow-sm transition duration-150 ease-in-out hover:bg-orange hover:border-orange hover:text-white  focus:outline-none hover:text focus:ring-2 focus:ring-orange focus:ring-offset-2 disabled:opacity-25;
}

.balloon {
    @apply relative inline-flex justify-center py-1 px-2 rounded-3xl bg-lightgray dark:text-black;
    &::before {
        @apply content-[''] absolute bottom-4 w-0 h-0 border-solid;
    }
    &.right {
        @apply mr-5;
        &::before {
            @apply right-[-9px] top-[calc(50%-5px)];
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 10px solid var(--tw-color-lightgray);
            border-right: 0;
        }
    }
    &.left {
        @apply ml-5;
        &::before {
            @apply left-[-9px] top-[calc(50%-5px)];
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 10px solid var(--tw-color-lightgray);
            border-left: 0;
        }
    }
    &.top {
        @apply mt-5;
        &::before {
            @apply left-[calc(50%-5px)] top-[-9px];
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            border-bottom: 10px solid var(--tw-color-lightgray);
            border-top: 0;
        }
    }
    &.bottom {
        @apply mb-5;
        &::before {
            @apply left-[calc(50%-5px)] bottom-[-9px];
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            border-top: 10px solid var(--tw-color-lightgray);
            border-bottom: 0;
        }
    }
}
reach-portal,
/* [data-rsbs-is-dismissable='false'] [data-rsbs-backdrop], */
[data-rsbs-overlay] {
    @apply !bg-black/95;
}
[data-rsbs-has-header='false']:before, [data-rsbs-header]:before {
    @apply !bg-orange;
}

.button-icon {
    @apply inline-flex items-center justify-center gap-2 rounded-md min-w-24 max-h-10 border border-solid border-primary bg-white px-2 py-3 text-sm font-bold uppercase tracking-widest text-primary shadow-sm transition duration-150 ease-in-out hover:bg-orange hover:border-orange hover:text-white  focus:outline-none focus:ring-2 focus:ring-orange focus:ring-offset-2 disabled:opacity-25;
}

.button-savig path{
    fill: #FFD700; /* yellow */
}

.button-icon path {
    fill: #30BFBF;
}

.button-savig:visited path,
.button-icon:hover path {
    fill: #FFF;
}

.unit-yen {
    @apply inline-block ml-0.5 text-[10px];
}

.contents_box::-webkit-scrollbar{
  display: none;
}
